body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: cornflowerblue;
}

.palco-jogo {
  background-color: black;
  background-image: url("./img/space.png");
  height: 600px;
  width: 600px;
}

.heroi-alien {
  position: relative;
  height: 60px;
  width: 70px;
  left: 20px;
  top: 250px;
}

.laser {
  position: relative;
  width: 40px;
  height: 30px;
}

.inimigo, .inimigo-abatido {
  height: 60px;
  width: 70px;
  position: relative;
}

.inimigo-transito {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.inimigo-abatido {
  opacity: 0;
}