* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}

.instagram-empacotador {
  align-items:center;
  display:flex;
  height: 100vh;
  justify-content: center;
  width: 60%;
}

.instagram-coluna-esquerda {
  align-items:center;
  display:flex;
  justify-content: center;
  width: 50%;
}

.instagram-coluna-esquerda img {
  width: 50rem;
}

.instagram-coluna-direita {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 34rem;
  width: 50%;
}

.grupo-acesso {
  align-items: center;
  background-color: white;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.3rem 0;
  width: 100%;
}

.grupo-acesso:nth-child(1) {
  min-height: 19rem;
}

.instagram-logo {
  height: 3rem;
  margin-bottom: 1.3rem;
}

.foto-perfil {
  align-items:center;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin-bottom: 1.3rem;
}

.foto-perfil img {
  object-fit: contain;
  transform: translateY(-16px) translateX(105px) scale(0.95);
}

.instagram-entrar {
  background-color: #0095fb;
  border-radius: 4px;
  color: white;
  padding: 8px;
  margin-bottom: 1.3rem;
}

.instagram-sair {
  color: #0095fb;
}

.alerta-acesso {
  color: rgb(160, 160, 160);
}

.link-azul {
  color: #0095fb;
}

.baixe-app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.3rem 0;
  width: 100%;
}

.download {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100%;
}

.app-download {
  background-size:cover;
  height: 3rem;
  width: 10rem;
}

.app-download:nth-child(1) {
  background: url('./img/apple-button.png') no-repeat;
  background-size: contain;
}

.app-download:nth-child(2) {
  background: url('./img/googleplay-button.png') no-repeat;
  background-size: contain;
}